@use 'sass:color';

@use "./reset";
@use "./form" as form;
@use "./typo" as typo;
@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

@mixin FunnelDisplay() {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin defaultBloc() {
//   background: lighten($bgColor, 5);
  background: color.scale($bgColor, $lightness: 5%);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

html {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center center;
  color: $textColor;
  @include FunnelDisplay();
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    form {
      @include defaultBloc();
    }
    .field {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
    .row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;
    }
    #Result {
      @include defaultBloc();
      max-width: 60vw;
      .table {
        border-radius: 0.5rem;
        overflow: hidden;
        .row {
          padding: 0.25rem 0.5rem;
          background: color.scale($bgColor, $lightness: 30%);
          &:nth-child(odd) {
            background: color.scale($bgColor, $lightness: 20%);
          }
          .cell {
            border-right: 1px solid $bgColor;
            padding-right: 1rem;
            &.count {
              width: 2rem;
              border-right: none;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
    @include typo.styleTypo();
    @include form.styleForm();
  }
}
